.btn 
    &,
    &:link,
    &:visited
        color: $black;
        font-family: "Bebas Neue"
        font-size: 18px
        letter-spacing: 2px
        font-weight: 500
        text-transform: uppercase
        display: inline-block;
        text-decoration: none;
        padding: 4px;
        border-bottom: 2px solid transparent;
        transition: all 0.2s;
        span.icon
            margin-left: 15px
        i
            color: $primary;

    

    &:hover
        transform: translateY(-2px);
        border-bottom: 2px solid $primary;
        i
            // color: $white;
    

    &:active
        box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
        transform: translateY(0);
    

